@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body:before {
    content: '';
    filter: blur(20px);
}
body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  transition: all 1s linear;
}
header {
  width: 100%;
  height: 100px;
  background-color: #92dce5;
  color: #000;
}
.logo {
  width: 1440px;
  margin: 0 auto;
}
main {
    width: 100%;
    height: 100%;
}
h1 {
  font-family: 'Pacifico';
  font-size: 2rem;
  line-height: 100px;
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
.carousel__caption {
	width: 1440px;
	max-width: 100%;
	margin: 24px auto 0;
}
.carousel__caption p {
    font: 400 28px "Roboto", sans-serif !important;
    color: #c1c1c1 !important;
    text-align: left;
}
.carousel {
	position: relative;
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transform: translateZ(0px); 
}
.carousel__buffer {
	display: none;
}
.carousel__buffer img {
	margin: 55px auto 18px;
	width: 553px;
	height: 347px;
}
.carousel__slide {
	position: absolute;
	opacity: 0;
    left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	background: no-repeat center top;
	background-size: cover;
	overflow: auto;
}
.carousel__slide .img__container {
    position: relative;
    margin: 200px auto 50px;
    max-width: 1440px;
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.img__container img {
    min-height: 100%;
}
.carousel__input:checked + .carousel__slide {
	opacity: 1;
}
.bullets__container {
    width: 1440px;
    margin: auto;
}
.carousel__bullets {
    max-width: 1440px;
	list-style: none;
	margin: 12px auto -6px;
	padding: 0;
	position: absolute;
	top: 72%;
	left: 0;
	right: 0;
	text-align: right;
	z-index: 10;
}
.carousel__bullets li {
	display: inline-block;
}
.carousel__bullets--bullet {
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 4px 0;
	border-radius: 50%;
	background: rgba(0,0,0);
	border: 1px solid #6e7c7f;
}
.carousel__bullets--bullet:hover {
	background: #92dce5;
}
@media screen and (max-width: 1024px) {
    .logo {
        max-width: 940px;
    }
    .carousel__bullets {
        text-align: center;
    }
    .carousel__caption {
        margin: 150px auto 0;
    }
    .carousel__caption p {
        text-align: center;
    }
    .img__container img {
        min-height: 80%;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        max-width: 940px;
    }
    .carousel__bullets {
        text-align: center;
    }
    .carousel__caption {
        margin: -130px auto 0;
    }
    .carousel__caption p {
        text-align: center;
    }
    .img__container img {
        min-height: auto;
        width: 100%;
    }
    .carousel__bullets {
        top: 58%;
    }
}
@media screen and (max-width: 420px) {
    .logo {
        max-width: 940px;
    }
    .carousel__bullets {
        text-align: center;
    }
    .carousel__caption {
        margin: -200px auto 0;
    }
    .carousel__caption p {
        text-align: center;
    }
    .img__container img {
        min-height: auto;
        width: 100%;
    }
    .carousel__bullets {
        top: 52%;
    }
}
